<div class="container main-container">
    <div class="row text-center justify-content-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/pets.jpg" height="164px" width="253px" alt="Imagem pets">
                <div class="card-body">
                    <h4 class="card-title">Pets</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" [routerLink]="['/pets/add']">Cadastre seu pet</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="/assets/dono.jpg" height="164px" width="253px" alt="">
                <div class="card-body">
                    <h4 class="card-title">Donos</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary" [routerLink]="['/owners/add']">Faça seu cadastro</a>
                </div>
            </div>
        </div>

    </div>
</div>