<div class="container main-container">

    <h1>Lista de Pets</h1>
    <div class="row">
        <div class="col-6">
            <p>
                <a class="btn btn-info" [routerLink]="['/pets/add']">Novo Pet</a>
            </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <input class="form-control" type="text" [(ngModel)]="searchValue" placeholder="Digite um nome"/>
        </div>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nome</th>
                    <th>Apelido</th>
                    <th>Raça</th>
                    <th>Espécie</th>
                    <th>Nome do dono</th>
                    <th>Telefone do dono</th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let pet of pets | searchFilter: searchValue">
                <td>
                    {{ pet?.name ? pet.name : 'Nao possui' }}
                </td>
                <td>
                    {{ pet?.name ? pet.nickName : 'Nao possui' }}
                </td>
                <td>
                    {{ pet?.name ? pet.breed : 'Nao possui' }}
                </td>
                <td>
                    {{ pet?.name ? pet.species : 'Nao possui' }}
                </td>
                <td>
                    {{ pet?.owner ? pet.owner : 'Nao possui' }}
                </td>
                <td>
                    {{ pet?.ownerPhone ? pet.ownerPhone : 'Nao possui' }}
                </td>
                <td class="text-right">
                    <a class="btn btn-info" [routerLink]="['/pets/details', pet.id]">
                        <span class="fa fa-eye"></span>
                    </a>&nbsp;
                    <a class="btn btn-warning" [routerLink]="['/pets/edit', pet.id]">
                        <span class="fa fa-pencil-alt"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" (click)="removePetAlert(pet)">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </table>
        <ngb-pagination *ngIf="pets?.length > 10"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="pets?.length">
        </ngb-pagination>
    </div>
</div>