<div class="container main-container">
    <h1>Detalhes do {{ pet?.name }}</h1>

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                <label class="control-label">Nome</label>
            </dt>
            <dd class="col-sm-10">
                {{ pet?.name ? pet.name : '-' }}
            </dd>
            <dt class="col-sm-2">
                <label class="control-label">Apelido</label>
            </dt>
            <dd class="col-sm-10">
                {{ pet?.nickName ? pet.nickName : '-' }}
            </dd>
            <dt class="col-sm-2">
                <label class="control-label">Nascimento</label>
            </dt>
            <dd class="col-sm-10">
                {{ pet?.birthday ? (pet.birthday * 1000 | date: 'dd/MM/yyyy') : '-' }}
            </dd>
            <dt class="col-sm-2">
                <label class="control-label">Raça</label>
            </dt>
            <dd class="col-sm-10">
                {{ pet?.breed ? pet.breed : '-' }}
            </dd>
            <dt class="col-sm-2">
                <label class="control-label">Espécie</label>
            </dt>
            <dd class="col-sm-10">
                {{ pet?.species ? pet.species : '-' }}
            </dd>
            <dt class="col-sm-2">
                <label class="control-label">Dono</label>
            </dt>
            <dd class="col-sm-10">
                {{ pet?.owner ? pet.owner : '-' }}
            </dd>
        </dl>
    </div>

    <div>
        <a class="btn btn-dark" [routerLink]="['/pets/edit',pet?.id]">Editar</a>&nbsp;
        <a class="btn btn-info" [routerLink]="['/pets/all']">Voltar</a>
    </div>
</div>